body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

.content, .post-head, .main, .wrapper {
  display: flex;
  flex-direction: column;
}

.content .gallery-carusel ul, .social .social__ul, .header {
  display: flex;
  flex-direction: row;
}

.wrapper {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.social {
  font-family: "Avenir Next Cyr";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
}
.social .social__ul {
  list-style: none;
  padding-left: 0px;
}
.social .social__li {
  margin-right: 20px;
  cursor: pointer;
}
.social .social__li:hover {
  color: #b4a890;
}

.social__li:first-child {
  display: none;
}

.logo {
  font-family: "Avenir Next Cyr";
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  transition: 1s;
}

.logo:hover {
  color: #b4a890;
}

/*==================================================
    media queries
==================================================*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .header {
    justify-content: space-between;
    align-items: baseline;
  }

  .social {
    font-size: 10px;
  }
  .social .social__ul {
    list-style: none;
    flex-direction: column;
  }
  .social .social__li {
    margin-bottom: 20px;
    transition: 1s;
  }
  .social .active {
    opacity: 1;
  }

  .social__li {
    opacity: 0;
  }

  .social__li:first-child {
    display: flex;
    opacity: 1;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    justify-content: space-between;
    align-items: baseline;
  }

  .social .social__ul {
    list-style: none;
    flex-direction: column;
  }
  .social .social__li {
    margin-bottom: 20px;
  }
  .social .active {
    opacity: 1;
  }

  .social__li {
    opacity: 0;
  }

  .social__li:first-child {
    display: flex;
    opacity: 1;
  }
}
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/
.header {
  position: absolute;
}

.main {
  align-items: center;
}

.post-head {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.post-head::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.post-tag {
  font-family: "Avenir Next Cyr";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  padding-left: 25px;
  z-index: 1000;
  opacity: 0;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

.post-tag::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.post-title {
  font-family: "Avenir Next Cyr";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 46px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  z-index: 1000;
  opacity: 0;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-delay: 2s;
}

.content {
  align-items: center;
  font-family: "Avenir Next Cyr";
  color: #222;
  position: relative;
  padding-bottom: 50px;
  padding-top: 40px;
  background-color: #fff;
}
.content p, .content h3 {
  width: 70%;
}
.content .panorama {
  width: 100%;
  height: 400px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}
.content .gallery-carusel {
  width: 100%;
  position: relative;
  height: 500px;
  overflow: hidden;
  cursor: url(../img/mouse2.png) 25 15, auto;
}
.content .gallery-carusel ul {
  list-style: none;
  width: 85%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 25%;
  transition: 1s;
}
.content .gallery-carusel li {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 500px;
  flex-shrink: 0;
}
.content .anim {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
.content .beforeAnim {
  opacity: 0;
}

.next-post {
  width: 100%;
  background-size: 100% 500%;
  background-position: center;
  cursor: pointer;
  transition: 1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.next-post:hover {
  background-size: 115% 570%;
}

.next-post:hover .next-post__wrapper {
  background-color: rgba(0, 0, 0, 0.9);
}

.next-post__wrapper {
  width: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;
}

.next-post__tag {
  font-family: "Avenir Next Cyr";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  padding-left: 25px;
}

.next-post__tag::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.next-post__title {
  font-family: "Avenir Next Cyr";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 10px;
}

.next-post__time {
  font-family: "Avenir Next Cyr";
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.next-post__description {
  font-family: "Avenir Next Cyr";
  font-size: 18px;
  color: #fff;
}

/*==================================================
    media queries
==================================================*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .post-title {
    font-size: 28px;
  }

  .main {
    align-items: center;
  }

  .content .panorama {
    width: 100%;
    height: 200px;
  }
  .content .gallery-carusel {
    height: 200px;
  }
  .content .gallery-carusel ul {
    left: 10px;
  }
  .content .gallery-carusel li {
    width: 300px;
    height: 200px;
  }

  .next-post {
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .next-post:hover {
    background-size: 115% 570%;
  }

  .next-post__tag {
    font-size: 18px;
  }

  .next-post__title {
    font-size: 26px;
  }

  .next-post__description {
    display: none;
  }
}
/* Small devices (landscape phones, 576px and up)*/
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* large devices+ (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .content p, .content h3 {
    width: 50%;
  }

  .post-title {
    font-size: 54px;
  }

  .post-tag {
    font-size: 26px;
  }
}
/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) {
  .content p, .content h3 {
    width: 50%;
  }

  .post-tag {
    letter-spacing: 2px;
    font-size: 32px;
  }

  .post-title {
    font-size: 74px;
    letter-spacing: 2px;
  }
}

/*# sourceMappingURL=post.css.map */
