
/* ========================================
    style for header menu
==========================================*/

#collapse-btn {
  display: none;
}

.header ul {
  list-style: none;
}

.header ul, li, a {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  background-color: #215237;
  position: relative;
  z-index: 999999;
  align-content: center;
  align-items: center;
}

.header, .head-menu, .menu-items, .menu-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.head-menu {
  width: 70%;
}

.menu-items {
  width: 50%;
}

.menu-social {
  width: 30%;
}

@media (max-width: 991.98px) {

  .header {
    position: fixed;
  }
  
  .head-menu {
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.4); 
  }
  
  #collapse-btn {
    display: flex;
  }  

}



