/*======================================
		GENERAL

		font-family: 'Amatic SC', cursive;
=======================================*/

body, .wrapper {
	padding: 0;
	margin: 0;
}

body {
	background: url(../img/bgr3.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a:active,
a:hover,  
a {
 	text-decoration: none;
 	color: #fff;
}

p {
	margin: 0;
}

h3, p {
	font-family: 'Amatic SC', cursive;
}

.wrapper {
	height: 100vh; 
	overflow-y: scroll;
}

/*======================================
		HEADER
=======================================*/

.header *{
	font-size: 36px;
	text-decoration: none;
	color: #fff;
}


.site-name a, .menu-items a {
	font-family: 'Amatic SC', cursive;
}

.site-name {
  padding-left: 85px;
  position: relative;
}
.site-name img{
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
}

.menu-social {
	align-items: center;
}

.fab {
	font-size: 24px;
}

.header a:hover {
	text-shadow: 0px 0px 20px #fff;
}
/*========= manu btn collapse ========*/

#collapse-btn {
  display: flex;
  flex-direction: column;
  height: 15px;
  width: 20px;
  justify-content: space-between;
  margin-bottom:5px;
}

#collapse-btn span {
  display: flex;
  width: 20px;
  height: 1px;
  background-color: #fff;
  transform-origin: -1px 0;
}

#collapse-btn {
	display: none;
}

@keyframes lineOne {
from {
  transform: rotate(0);}
50% {
  transform: translateY(5px);
  }
to {
  transform: rotate(45deg);}
}

@keyframes lineThree{
from {
  transform: rotate(0);}
50% {
  transform: translateY(-5px);
  }
to {
  transform: rotate(-45deg);}
}

@keyframes lineTwo {
from {
  opacity: 1;}
to {
  opacity: 0;}
}

/*===  head menu animate ===*/

@keyframes menuOn {
from {
  opacity: 0;}
to {
  opacity: 1;}
}

/*================================
	ARCHIVE
=================================*/


.item {
	margin: 20px 15px;
	background: url(../img/post.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	font-family: 'Amatic SC', cursive;
	-webkit-box-shadow: 5px 5px 25px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 25px -4px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 25px -4px rgba(0,0,0,0.75);
}

.item-wr {
	position: relative
}

.article-date {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 200px;
	color: #fff;
	font-size: 36px;
	padding: 10px 20px 0 0;
}

.item--text {
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

.far {
	color: #fff;
}

.stat {
	width: 100%;
	display: flex;
	justify-content: center;
	color: #fff;
}

.stat span {
	margin: 0 10px;
}


.view-full-btn {
	position: absolute;
	bottom: 60px;
	right: 20px;
	color: #fff;
	padding: 5px 10px;
	background-color: rgba(255,255,255,0.2);
	opacity: 0;
}

.item:hover > .item-wr > .item--text {
	background-color: transparent;
	transform: translateY(-90%);
}

.item:hover > .item-wr{
	background-color: rgba(0,0,0,0.5);
}

.item:hover > .item-wr > .view-full-btn{
	opacity: 1;
}

.view-full-btn, .item--text, .item-wr {
	transition: all 0.5s cubic-bezier(0, 0, 1, 1) 50ms;
}

/*=======================================
	Media Query
=========================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#collapse-btn {
		display: flex;
	}

	.site-name img{
	  display: none;
	}

	.site-name {
	  padding: 0;
	}

	.item:hover > .item-wr > .item--text {
		background-color: transparent;
		transform: translateY(-60%);
	}

	.menu-items {
		justify-content: space-around;
	}

	.menu-items li, .menu-social li {
		padding: 10px 0;
	}

	.menu-items {
		width: 100%;
		justify-content: space-around;
	}

	.menu-social {
		width: 80%;
		justify-content: space-around;
	}

	.head-menu {
		align-items: center;
		background-color: rgba(0,0,0,0.8);
		border-top: 1px solid #fff;
	}

	.archive {
		margin-top: 60px;
	}

	.header {
		background-color: rgba(0,0,0,0.8);
	}

}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#collapse-btn {
		display: flex;
	}

	.site-name img{
	  display: none;
	}

	.site-name {
	  padding: 0;
	}

	.menu-items li, .menu-social li {
		padding: 10px 0;
	}

	.menu-items {
		width: 100%;
		justify-content: space-around;
	}

	.menu-social {
		width: 80%;
		justify-content: space-around;
	}

	.head-menu {
		align-items: center;
		background-color: rgba(0,0,0,0.8);
		border-top: 1px solid #fff;
	}

	.archive {
		margin-top: 60px;
	}

	.header {
		background-color: rgba(0,0,0,0.8);
	}

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#collapse-btn {
		display: flex;
	}

	.masonry[data-columns]::before {
		content: '1 .col-8';
	}

	.menu-items li, .menu-social li {
		padding: 10px 0;
	}

	.menu-items {
		width: 100%;
		justify-content: space-around;
	}

	.menu-social {
		width: 80%;
		justify-content: space-around;
	}

	.head-menu {
		align-items: center;
		background-color: rgba(0,0,0,0.8);
		border-top: 1px solid #fff;
	}

	.archive {
		margin-top: 80px;
	}

	.header {
		background-color: rgba(0,0,0,0.8);
	}

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.masonry[data-columns]::before {
		content: '2 .col-6';
	}

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.masonry[data-columns]::before {
		content: '2 .col-6';
	}
}
