/*  fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Sawarabi Gothic', sans-serif;
*/

/* general setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #5a5f65;
}

.d-flex {
  display: flex;
}

.wrapper {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  width: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* sidebar */

.sidebar {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 150px;
  width: 100%;
  padding: 52px 30px;
  background-color: #282d32;
}

.sidebar__menu {
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #353a3f;
  border-bottom: 2px solid #353a3f;
  padding: 46px 0;
  margin: 70px 0;
}

.sidebar a {
  text-transform: uppercase;
  font-size: 0.888rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8e9093;
}

.logo {
  text-align: center;
  color: #4cb480;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 32px;
  position: relative;
}

.logo::before {
  content: '';
  height: 2px;
  width: 20px;
  background-color: #4cb480;
  border-radius: 3px;
  display: inline;
  position: absolute;
  bottom: -0.02em;
  left: calc(50% - 10px);
}

/* section 1*/
.first__title_text {
  font-size: 3.444rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #ffffff;

}

.first__subtitle_text {
  font-size: 1.666rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
}

.first__contant_text {
  font-size: 1.222rem;
  font-weight: 300;
  letter-spacing: 0px;
  color: #ffffff;
}

.first {
  background-color: #353a3f;
  align-items: center;
  justify-content: center;
}

.first__wrapper {
  flex-direction: column;
  max-width: 54.4em;
  margin: 60px;
}

.button {
  padding: 22px 58px;
  background-color: #4cb480;
  border-radius: 40px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-top: 50px;
}

/* section 2 */
.second__title_text {
  font-size: 1.666rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #353a3f;
}

.second__content_text {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0px;
  color: #5a5f65;
}

.second{
  align-items: center;
}

.second-block {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.second__item {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
  max-width: 363px;
  min-height: 450px;
  position: relative;
  margin: 60px 0;
}

.second__item_photo::before{
  content: url("img/photo.png");
  position: absolute;
  top: -55px;
  left: 36%;
}

.second__item_video::before{
  content: url("img/photo.png");
  position: absolute;
  top: -55px;
  left: 36%;
}

.second__item_downloads::before{
  content: url("img/photo.png");
  position: absolute;
  top: -55px;
  left: 36%;
}

/* section 3 */

.third__content_text {
  font-size: 1.555rem;
  font-weight: 300;
  letter-spacing: 0px;
  font-style: italic;
  color: #ffffff;
}

.third__author_text {
  font-size: 1.111rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8c9198;
}

.third {
  background-color: #353a3f;
}

.third-wrapper {
  width: 100%;
  min-height: 100%;
  background-image: url("img/quo.png");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.third__item{
  max-width: 53.1em;
  flex-direction: column;
  position: relative;
  margin: 110px 60px;
}

.third__item::before {
  content: url("img/quo_mini.png");
  position: absolute;
  top: -50px;

}

.third__item p {
  margin-top: 2em;
  position: relative;
}

.third__item p::before {
  content: '';
  height: 5px;
  width: 60px;
  background-color: #696e74;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -20px;
}

/* article */

/* responsive block */
@media (min-width: 768px) and (max-width: 979px) {
  html {
    font-size:10px;
  }

  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
  }

  .sidebar__menu {
    padding: 0;
    margin: 0;
    flex-direction: row;
  }

  .sidebar a{
    margin-left: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {

  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
  }

  .sidebar__menu {
    padding: 0;
    margin: 0;
    flex-direction: row;
  }

  .sidebar a{
    margin-left: 10px;
  }


}
@media screen and (max-width: 480px) {}
