/* ====== temp =======*/

.bgr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1425321395722-b1dd54a97cf3?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
	height: 100vh; 
  overflow-y: scroll;
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgba(0,0,0,0.4);
}


/* ========= General ============*/
img, #collapse-btn {
  display: none;
}

ul {
  list-style: none;
}

ul, li, a {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  position: relative;
}

.header, .head-menu, .menu-items, .menu-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-menu {
  width: 70%;
}

.menu-items {
  width: 50%;
}

.menu-social {
  width: 30%;
}

@media (max-width: 991.98px) {
  
  .head-menu {
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.4); 
  }
  
  #collapse-btn {
    display: flex;
  }  

}



