/*=======================================
	General
=========================================
	font-family: 'Amatic SC', cursive;
=========================================*/

html {
	font-size: 22px;
}

body {
	font-family: 'Amatic SC', cursive;
	background: url(../img/bgr4.jpg) no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed !important;
	position: static !important;
	z-index: -1 !important;
}

ul, li, a, label{
	margin: 0;
	padding: 0;
	display: flex;
}

ul {
	list-style: none;
}

/*=======================================
	Header
=========================================*/

.header {
	position: fixed;
	background: #3A5A40;
	z-index: 1000;
}

.header a {
	text-decoration: none;
	color: #fff;
}

.head-menu ul {
	justify-content: space-between;
}

.head-menu a {
	font-size: 28px;
}

.social ul{
	justify-content: space-between;
}

.site-name {
	font-size: 36px;
}

.test {
	padding-top: 60px;
}

.masonry .item{
	background: rgba(0,0,0,0.1);
	border: 1px solid black;
	margin: 5px 0;
}

/*== menu ==*/

label[for="menu-check"] {
	font-size: 28px;
	color: #fff;
	justify-content: center;
}

input[type='checkbox'] {
	display: none;
}

/*=======================================
	Archive
=========================================*/

.archive {
	
}




/*=======================================
	Media Query
=========================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	body {
		background: #fff;
	}

	/*== head menu ==*/
	.head-menu ul {
		display: none;
	}

	input[type='checkbox']:checked + ul {
		display: flex;
		flex-direction: column;
	}

	.site-name, .social {
		display: none;
	}

	.header .row {
		justify-content: center;
	}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		background: #fff;
	}
	
	/*== head menu ==*/
	.head-menu ul {
		display: none;
	}

	input[type='checkbox']:checked + ul {
		display: flex;
		flex-direction: column;
	}

	.site-name, .social {
		display: none;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	/*== head menu ==*/
	label[for='menu-check'] {
		display: none;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	/*== head menu ==*/
	label[for='menu-check'] {
		display: none;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*== head menu ==*/
	label[for='menu-check'] {
		display: none;
	}
}





/*================================
	MASONRY
=================================*/
.masonry[data-columns]::before {
	content: '2 .col-5';
}