/*=================================================
    my styles 
    
    fonts:
        'Muller', sans-serif;
        'Visby', sans-serif;

==================================================
    my reset
==================================================*/
body, section, h1, h2, h3, h4, h5, h5, ul, li {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

ul {
    list-style: none 
}

/*==================================================
    general
==================================================*/
html {
    font-size: 22px;
}

a,
span,
#sec-section,
footer {
    display: flex;
    flex-direction: row;
}

section,
.text-wr,
.reg-form,
.features,
.f-wr {
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.9rem;
}

.btn,
.text-wr > span {
    font-family: 'Muller', sans-serif;
    font-weight: bold;
}

.text-wr > h1 {
    font-family: 'Muller', sans-serif;
    font-weight: normal;
}

#date {
    font-family: 'Muller', sans-serif;
    font-weight: 500;
}

#scroll-anchor {
    position: absolute;
    top: 0;
}

.text-wr,
.logo,
.scroll-btn {
    z-index: 10000;
}
/*==================================================
    first section
==================================================*/

#first-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #f9e9a7, #63c9c4);
    z-index: 0;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 12px;
    z-index: 1;
    left: 10%;
}

    .logo::before {
        position: absolute;
        content: '';
        width: 120%;
        height: 200%;
        top: -70%;
        left: -10%;
        background-color: #fff;
        z-index: -1;
        border-radius: 10px;
        transform: rotate(-7deg);
    }

.text-wr {
    margin: 16.67% 0 0 9.9%;
    width: 47%; 
}

.text-wr > span {
    margin-bottom: 5.5%;
    font-size: 1.45rem;
    color: #44a09b;
}

.reg-form {
    margin-top: 8.8%;
    padding: 5.4% 0;
    width: 70.2%;
    background-color: #fff;
    border-radius: 100px;
    position: relative;
    z-index: 0;
}

    .reg-form::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color:#fff;
        left:-60%;
        top:0;
        z-index: -2;
    }

#date {
    font-size: 1.27rem;
    color: #ff8141;
}

.btn {
    width: 78%;
    padding: 20px 0;
    margin-top: 20px;
    justify-content: center;
    background-color: #ff8141;
    border-radius: 40px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
}

.btn:hover {
    transform: scaleX(1.1);
    color: cyan;
}

#scroll-btn {
    position: absolute;
    left: calc(50% - 10px);
    bottom: 20px;
    z-index: 1000;
    cursor: pointer;
    border-style: solid;
    border-width: 30px 20px 20px 20px; /* size & shape */ 
    border-color: #fff transparent transparent transparent;  /* colors */ 
    animation: scroll 2s infinite ease-in-out;
}
@keyframes scroll {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px)
    }
    to {
        transform: translateY(0)
    }
}

#scroll-btn::before {
    position: absolute;
    content: '';
    top: -26px;
    left: -12px;
    border-style: solid;
    border-width: 18px 12px 12px 12px; /* size & shape */ 
    border-color: #67cac3 transparent transparent transparent;  /* colors */ 
    z-index: 1000;
}

#scroll-btn::after {
    position: absolute;
    content: 'scroll down';
    width: 150px;
    top: -50px;
    left: -50px; 
    z-index: 1000;
    font-size: 14px;
    font-family: 'Visby', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}


/*=============== parallax ================*/

#parallax {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 0;
}

#parallax img:nth-child(1){
    position: absolute;
    bottom: 2.2%;
    right: -20px;
    transition: 7000ms;
}

#parallax img:nth-child(2){
    position: absolute;
    bottom: 32%;
    right: 10%;
    transition: 6000ms;
}

#parallax img:nth-child(3){
    position: absolute;
    bottom: 40%;
    right: 15%;
    transition: 5000ms;
}

#parallax img:nth-child(4){
    position: absolute;
    bottom: 18%;
    right: 20%;
    transition: 4000ms;
}

/*==================================================
    second section
==================================================*/

#sec-section {
    height: 100%;
    width: 100%;
    position: relative;
}

.video {
    width: 56.25%;
    height: 100vh;
    position: relative;
}

.video iframe {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#video-bgr {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/frame-bgr.png) no-repeat center;
    background-size: cover;
    filter: grayscale(.75);
    z-index: 1;
    transition: 2s;
}

.video-hover::before {
    position: absolute;
    content: '';
    width: 282px;
    height: 207px;
    top: 55%;
    left: 55%;
    background: url(../img/video-arrow.png) no-repeat;
    animation: shadow 4s 1 ease-in-out;
    animation-fill-mode: both;
}

@keyframes shadow {
    from {opacity: 0;}
    to {opacity: 1;}
}

#play-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    z-index: 2;
}

#play-btn:hover {
    transform: scale(1.2, 1.2);
}

#play-btn:hover ~ #video-bgr {
    opacity: 0.1;
}

#play-btn::before {
    position: absolute;
    content: '';
    top: calc(50% - 10px);
    left: calc(50% - 8px);
    border-style: solid;
    border-width: 10px 10px 10px 20px; /* размер и форма */ 
    border-color: transparent transparent transparent #fff;  /* red — цвет */ 
    filter: drop-shadow(0 0 5px #000);  /* тень */ 
}


.features {
    width: 43.75%;
    justify-content: center;
    align-items: center;
}

.f-wr {
    width: 71%;
}

.f-wr h3 {
    font-family: 'Visby', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 46px;
    color: #273d50;
}

.f-wr li {
    background: url(../img/li-marker.png) no-repeat left 20%;
    padding-left: 30px;
    font-family: 'Visby', sans-serif;;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 20px;
}

.f-wr li:last-child {
    margin-bottom:40px;
}

.f-wr span {
    background: url(../img/heart.png) no-repeat left 20%;
    background-size: 17px 18px;
    padding-left: 30px;
    font-family: 'Visby', sans-serif;;
    font-weight: 100;
    font-size: 1rem;
}
/*==================================================
    footer
==================================================*/

footer {
    height: 11vw;
    background-color: #273d50;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Visby', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

footer h2 {
    width: 600px;
    height: 41px;
    overflow: hidden;
    word-wrap: none;
    font-family: 'Visby', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    animation: type 5s steps(10) infinite;
    transition: 0.5s;
}

@keyframes type {
    from { width: 0; }
    to {width: 600; }
}

@keyframes play { 
    from{ transform: translateX(0); } 
    to{ transform: translateX(200px); }
}

/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    html {font-size: 10px;}
    #sec-section {
        flex-direction: column;
        align-items: center;
    }

    .text-wr {
        width: 70%;
        margin: 40% 0 0 9.9%;
    }

    .reg-form {
        width: 120%;
    }

    #video {
        width: 95%;
        height: 200px;
        margin-top: 10px;
    }

    #video-placeholder {
        height: 100%;
    }

    .features {
        width: 100%;
        padding: 20px;
    }

    footer h2 {
        width: 310px;
        height: 18px;
        font-size: 16px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    html {font-size: 10px;}
    #sec-section {
        flex-direction: column;
        align-items: center;
    }

    .text-wr {
        width: 90%;
    }

    #first-section {
        padding: 40% 0 0 10%;
    }

    #video {
        width: 95%;
        margin-top: 10px;
    }

    .features {
        width: 100%;
        padding: 20px;
    }

    footer h2 {
        width: 360px;
        height: 20px;
        font-size: 18px;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    html {font-size: 10px;}
    #sec-section {
        flex-direction: column;
        align-items: center;
    }

    #video {
        width: 95%;
        margin-top: 10px;
    }

    .features {
        width: 100%;
        padding: 20px;
    }

    .f-wr {
        align-items: center;
    }

    footer h2 {
        width: 360px;
        height: 20px;
        font-size: 18px;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    html {font-size: 12px;}
    .f-wr li {font-size: 1.5rem;}
}

/* trash devices (my laptop)*/
@media (min-width: 1200px) and (max-width: 1400px) {
    html {font-size: 16px;}
    .f-wr li {font-size: 1.1rem;}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {
}