$playfair: 'Playfair Display', serif;
$ubuntu: 'Ubuntu', sans-serif;
$incons: 'Inconsolata', monospace;

$gray: #626262;
$light-gray: #b4ad9e;


@import 'header';
@import 'home-page';

a,
a:hover,
a:active {
	text-decoration: none;
}

%d-flex-col {
	display: flex;
	flex-direction: column;
}

%d-flex-row {
	display: flex;
	flex-direction: row;
}

%reset-mp {
	margin: 0;
	padding: 0;
}
