/*=== colors ===*/
/*=== fonts ===*/
/*=== general & reset ===*/
.left-nav *, #sec-one header {
  display: flex;
  flex-direction: row;
}

.social, .left-nav, #sec-six .container, #sec-five .other, #sec-five .item, #sec-five .container, #sec-four .container, #sec-three .container, #sec-two .container, #sec-one .container, section {
  display: flex;
  flex-direction: column;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section * {
  z-index: 1000;
}

.decor-letter {
  position: absolute;
}

/*=== import ===*/
/*=== svg bgr for first section ===*/
#svg-bgr-six, #svg-bgr-five, #svg-bgr-four, #svg-bgr-three, #svg-bgr-two, #svg-bgr-one {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#svg-bgr-one .svg-obj {
  fill: rgba(0, 0, 0, 0.8);
}
#svg-bgr-one .svg-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 700px;
}
#svg-bgr-one .svg-filter {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 700px;
  fill: #ff4200;
  opacity: 0.5;
}

#svg-bgr-two .svg-obj {
  fill: white;
}
#svg-bgr-two .svg-rect {
  fill: rgba(255, 255, 255, 0.5);
}

#svg-bgr-three .svg-obj {
  fill: rgba(0, 0, 0, 0.8);
}

#svg-bgr-four .svg-obj {
  fill: rgba(0, 0, 0, 0.8);
}

#svg-bgr-five .svg-obj {
  fill: white;
}
#svg-bgr-five .svg-rect {
  fill: rgba(255, 255, 255, 0.5);
}

#svg-bgr-six .svg-obj {
  fill: rgba(255, 255, 255, 0.7);
}

/*=======================================
	Media Query
=========================================*/
/*Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up)*/
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/
/*====  text ====*/
h1, h2, h3, h4 {
  font-family: "Avenir Next Cyr", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 30px;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 20px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #b3b3b3;
}

.decor-letter {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: bold;
  font-size: 250px;
  letter-spacing: 50px;
  text-transform: uppercase;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #fff;
}

/*==================================
            section 1 
==================================*/
#sec-one {
  background: url("../img/sec-one-bgr.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#sec-one header {
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0 50px;
}
#sec-one header .menu-btn {
  color: #fff;
}
#sec-one .container {
  height: 100%;
  justify-content: center;
}
#sec-one .container h1 {
  color: #fff;
}
#sec-one .container h3 {
  color: #b3b3b3;
}
#sec-one .btn {
  padding-top: 60px;
  text-transform: uppercase;
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 500;
}
#sec-one .btn img {
  margin-left: 10px;
}
#sec-one .btn a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#sec-one .btn::before {
  position: absolute;
  content: "";
  top: 30px;
  width: 100%;
  height: 3px;
  background-color: #ff4200;
}

/*==================================
            section 2 
==================================*/
#sec-two {
  background: url("../img/sec-two-bgr.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#sec-two .container {
  height: 100%;
  justify-content: center;
}
#sec-two .title span {
  color: #ff4200;
}
#sec-two .title {
  margin-bottom: 18%;
}
#sec-two .describe {
  margin-top: 50px;
}
#sec-two .line {
  width: 100%;
  height: 3px;
  background-color: #b3b3b3;
}

/*==================================
            section 3 
==================================*/
#sec-three {
  background: url("../img/sec-one-bgr.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#sec-three .container {
  height: 100%;
  justify-content: center;
}
#sec-three .title {
  color: #fff;
}
#sec-three .title div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff4200;
  bottom: -20px;
}
#sec-three .tags {
  margin-top: 12%;
  color: #737373;
}
#sec-three .describe h3 {
  color: #ededed;
}
#sec-three .describe .decor-letter {
  font-size: 70px;
  top: -40px;
  left: -10px;
  z-index: -1;
  color: rgba(255, 66, 0, 0.5);
}
#sec-three .decor-letter {
  overflow: hidden;
  width: 80%;
  right: 0;
  z-index: 0;
  color: rgba(179, 179, 179, 0.1);
}

/*==================================
            section 4 
==================================*/
#sec-four {
  background: url("../img/sec-one-bgr.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#sec-four .container {
  height: 100%;
  justify-content: center;
}
#sec-four .title {
  color: #fff;
}
#sec-four .title div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff4200;
  bottom: -20px;
}
#sec-four .item img {
  width: 100%;
}
#sec-four .item h4 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
#sec-four .item p {
  text-align: center;
}
#sec-four .gallery {
  margin-top: 8%;
}
#sec-four .item:nth-child(odd) {
  margin-top: 2%;
}
#sec-four .item:nth-child(even) {
  margin-top: -2%;
}
#sec-four .tags {
  color: #737373;
}
#sec-four .tags h4 {
  margin-bottom: 20px;
  font-size: 14px;
}
#sec-four .decor-letter {
  right: -100px;
  top: -200px;
  font-size: 750px;
  z-index: 0;
  color: rgba(179, 179, 179, 0.1);
}

/*==================================
            section 5 
==================================*/
#sec-five {
  background-color: #fff;
}
#sec-five .container {
  height: 100%;
  justify-content: center;
}
#sec-five .title div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff4200;
  bottom: -20px;
}
#sec-five .main {
  margin-top: 6%;
  align-items: center;
}
#sec-five .itemOne:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: #ff4200;
  top: 20%;
  left: -100px;
}
#sec-five .other {
  max-height: 200px;
  height: 180px;
  justify-content: space-around;
}
#sec-five .decor-letter {
  z-index: 0;
  top: 0;
  right: 0;
  color: rgba(179, 179, 179, 0.2);
}

/*==================================
            section 6 
==================================*/
#sec-six {
  background: url("../img/sec-six-bgr.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#sec-six .container {
  height: 100%;
  justify-content: center;
}
#sec-six .title div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff4200;
  bottom: -20px;
}
#sec-six .main {
  margin-top: 8%;
}

/*=======================================
	NAV
=========================================*/
.left-nav {
  align-items: center;
  position: fixed;
  top: 32%;
  left: 2%;
}
.left-nav .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: 1s;
  margin: 10px 0;
  cursor: pointer;
}
.left-nav .line {
  width: 3px;
  height: 0px;
  background-color: #fff;
  transition: 1s;
}
.left-nav h2 {
  height: 0;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 1s;
  color: #fff;
}

.anchor {
  position: absolute;
  top: 0;
  height: 10px;
}

.social {
  align-items: center;
  position: absolute;
  top: 32%;
  right: 2%;
}
.social a {
  margin-bottom: 40px;
  font-size: 24px;
  color: rgba(179, 179, 179, 0.8);
}
.social a:hover {
  color: rgba(255, 255, 255, 0.9);
}

/*=======================================
	Media Query
=========================================*/
/*Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up)*/
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/

/*# sourceMappingURL=main.css.map */
