/*=== colors ===*/
$orange: #ff4200;
$gray: #b3b3b3;
$light-gray: #ededed;
/*=== fonts ===*/
$avenir: 'Avenir Next Cyr', sans-serif;
$lato: 'Lato', sans-serif;

/*=== general & reset ===*/
%d-flex-row {
    display: flex;
    flex-direction: row;
}

%d-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin sectionBgr($imgUrl) {
    background: url($imgUrl) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

section {
    @extend %d-flex-column;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

section * {
    z-index: 1000;
}

.decor-letter {
    @extend %bgr-letters;
    position: absolute;
}

/*=== import ===*/

@import 'svg';
@import 'text';

/*==================================
            section 1 
==================================*/
#sec-one {
    @include sectionBgr("../img/sec-one-bgr.png");

    header {
        @extend %d-flex-row;
        position: absolute;
        top: 0;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding: 0 50px;

        .menu-btn {
            color: #fff;
        }
    }

    .container {
        @extend %d-flex-column;
        height: 100%;
        justify-content: center;

        h1 {
            color: #fff;
        }

        h3 {
            color: $gray;
        }
    }
    .btn {
        padding-top: 60px;
        text-transform: uppercase;
        font-family: $avenir;
        font-weight: 500;

        img {margin-left: 10px;}
    }

    .btn a:hover {
        background-color: rgba(#fff, 0.3);
    }

    .btn::before {
        position: absolute;
        content: '';
        top: 30px;
        width: 100%;
        height: 3px;
        background-color: $orange;
    }
}
/*==================================
            section 2 
==================================*/
#sec-two {
    @include sectionBgr("../img/sec-two-bgr.jpg");

    .container {
        @extend %d-flex-column;
        height: 100%;
        justify-content: center;
    }

    .title span {
        color: $orange;
    }

    .title {
        margin-bottom: 18%;
    }

    .describe {
        margin-top: 50px;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: $gray;
    }
}
/*==================================
            section 3 
==================================*/
#sec-three {
    @include sectionBgr("../img/sec-one-bgr.png");

    .container {
        @extend %d-flex-column;
        height: 100%;
        justify-content: center;
    }

    .title {
        color: #fff;

        div::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $orange;
            bottom: -20px;
        }
    }

    .tags{
        margin-top: 12%;
        color: #737373;
    }

    .describe {
        h3 {
            color: $light-gray;
        }

        .decor-letter {
            font-size: 70px;
            top: -40px;
            left: -10px;
            z-index: -1;
            color: rgba($orange, 0.5)
        }
    }

    .decor-letter {
        overflow: hidden;
        width: 80%;
        right: 0;
        z-index: 0;
        color: rgba($gray, 0.1);
    }
}
/*==================================
            section 4 
==================================*/
#sec-four {
    @include sectionBgr("../img/sec-one-bgr.png");

    .container {
        @extend %d-flex-column;
        height: 100%;
        justify-content: center;
    }

    .title {
        color: #fff;

        div::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $orange;
            bottom: -20px;
        }
    }

    .item {
        img {
            width: 100%;
        }

        h4 {
            color: #fff;
            text-align: center;
            margin-top: 20px;
        }

        p {
            text-align: center;
        }
    }

    .gallery {
        margin-top: 8%;
    }
    .item:nth-child(odd) {
        margin-top: 2%;
    }

    .item:nth-child(even) {
        margin-top: -2%;
    }

    .tags {
        color: #737373;
        
        h4 {
            margin-bottom: 20px;
            font-size: 14px;
        }
    }

    .decor-letter {
        right: -100px;
        top: -200px;
        font-size: 750px;
        z-index: 0;
        color: rgba($gray, 0.1)
    }
}
/*==================================
            section 5 
==================================*/
#sec-five {
    background-color: #fff;

    .container {
        @extend %d-flex-column;
        height: 100%;
        justify-content: center;
    }

    .title {
        div::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $orange;
            bottom: -20px;
        }
    }

    .main {
        margin-top: 6%;
        align-items: center;
    }

    .itemOne:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100px;
        background-color: $orange;
        top: 20%;
        left: -100px;
    }

    .item {
        @extend %d-flex-column;
    }

    .other {
        @extend%d-flex-column;
        max-height: 200px;
        height: 180px;
        justify-content: space-around;
    }

    .decor-letter {
        z-index: 0;
        top: 0;
        right: 0;
        color: rgba($gray, 0.2);
    }
}
/*==================================
            section 6 
==================================*/
#sec-six {
    @include sectionBgr("../img/sec-six-bgr.jpg");

    .container {
        @extend %d-flex-column;
        height: 100%;
        justify-content: center;
    }

    .title {
        div::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $orange;
            bottom: -20px;
        }
    }

    .main {
        margin-top: 8%;
    }
}
/*=======================================
	NAV
=========================================*/
.left-nav {
    @extend %d-flex-column;
    align-items: center;
    position: fixed;
    top: 32%;
    left: 2%;

    .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        transition: 1s;
        margin: 10px 0;
        cursor: pointer;
    }

    .line {
        width: 3px;
        height: 0px;
        background-color: #fff;
        transition: 1s;
    }

    h2 {
        height: 0;
        overflow: hidden;
        letter-spacing: 2px;
        transition: 1s;
        color: #fff;
    }
}

.left-nav * {
    @extend %d-flex-row;
}

.anchor {
    position: absolute;
    top: 0;
    height: 10px;
}

.social {
    @extend %d-flex-column;
    align-items: center;
    position: absolute;
    top: 32%;
    right: 2%;

    a {
        margin-bottom: 40px;
        font-size: 24px;
        color: rgba($gray, 0.8);
    }

    a:hover {
        color: rgba(#fff, 0.9);
    }
}
/*=======================================
	Media Query
=========================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .left-nav {
        z-index: 1000;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}