.sec-blog {

}

.sec-blog__wrapper {
    @extend %d-flex-col;
    justify-content: center;
}

.sec-blog__title {

}

.blog {
    @extend %d-flex-row;
    justify-content: space-between;
}

.blog__next-posts {
    @extend %d-flex-col;
    height: 100%;
    justify-content: center;
}

.blog__post {
    max-width: 300px;
    width: 100%;
}

.blog__post_active {
    @extend %d-flex-col;
    justify-content: center;
    height: 100%;
}

.blog__post-img {
    max-width: 400px;
    width: 100%;

    img {
        display: block;
        width: 100%;
    } 
}


/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .sec-blog__wrapper {
        padding: 0 15px;
    }

    .blog {
        flex-direction: column;

        h3, p {
            margin: 0;
        }
    }

    .blog__post {
        h3, p {
            margin-bottom: 5px;
        }
    }

    .blog__next-posts {
        margin-top: 40px;
    }

    .blog__post_active,
    .blog__next-posts {
        height: auto;
    }

    .blog__post-img {
        max-width: 100px;
        width: 100%;
        margin-bottom: 10px;
    
        img {
            display: block;
            width: 100%;
        } 
    }
}