.admin {
    min-height: 100vh;

    span > a {
        color: #fff;
    }
}

.admin-content {
    margin: 16px;
}

.posts-list {
    display: flex;
}
.admin-settings-item {
    margin-top: 20px;
}

.authorization {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}