body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body * {
    box-sizing: border-box;
}

// for mCustomScrollbar
html, body{
    height: 100%;
}

a,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}

%d-flex-col {
    display: flex;
    flex-direction: column;
}

%d-flex-row {
    display: flex;
    flex-direction: row;
}

.wrapper {
    @extend %d-flex-col;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: rgba(#000000, 0.7);
}

@import 'header';

.header {
    position: absolute;
}

.main {
    @extend %d-flex-col;
    align-items: center;
}

.post-head {
    @extend %d-flex-col;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    padding-bottom: 80px;
}

.post-head__wrapper {
    width: 70%;
}

.post-tag {
    font-family: 'Avenir Next Cyr';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    padding-left: 25px;
}

.post-tag::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    top: calc(50% - 1px);
    left: 0;
    background-color: #fff;
}

.post-title {
    font-family: 'Avenir Next Cyr';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 10px;
}

.post-time {
    font-family: 'Avenir Next Cyr';
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.post-description {
    font-family: 'Avenir Next Cyr';
    font-size: 18px;
    color: #fff;
}

.content {
    @extend %d-flex-col;
    align-items: center;
    font-family: 'Avenir Next Cyr';
    color: #fff;
    position: relative;
    padding-bottom: 50px;
    padding-top: 40px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    p, h3 {
        width: 70%;
    }

    img {
        width: 100%;
        margin: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.next-post {
    width: 100%;
    background-size: 100% 500%;
    background-position: center;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.next-post:hover {
    background-size: 115% 570%;
}

.next-post:hover .next-post__wrapper {
    background-color: rgba(#000000, 0.9);
}

.next-post__wrapper {
    width: 100%;
    padding: 40px;
    background-color: rgba(#000000, 0.8);
    transition: 1s;
}

.next-post__tag {
    font-family: 'Avenir Next Cyr';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    padding-left: 25px;
}

.next-post__title {
    font-family: 'Avenir Next Cyr';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 10px;
}

.next-post__time {
    font-family: 'Avenir Next Cyr';
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.next-post__description {
    font-family: 'Avenir Next Cyr';
    font-size: 18px;
    color: #fff;
}

#particles-js-left {
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, rgba(#000, 0.5), rgba(#000, 0));
}

#particles-js-right {
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to left, rgba(#000, 0.5), rgba(#000, 0));
}

/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .post-title {
        font-size: 24px;
    }

    .main {
        @extend %d-flex-col;
        align-items: center;
    }

    #particles-js-left {
        display: none;
    }
    
    #particles-js-right {
        display: none;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #particles-js-left {
        display: none;
    }
    
    #particles-js-right {
        display: none;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #particles-js-left {
        display: none;
    }
    
    #particles-js-right {
        display: none;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* large devices+ (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599.98px) {
    .post-head__wrapper {
        width: 50%;
    }

    .content {   
        p, h3 {
            width: 50%;
        }
    }
}

/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) {
    .post-head__wrapper {
        width: 50%;
    }

    .content {   
        p, h3 {
            width: 50%;
        }
    }

    .post-tag {
        letter-spacing: 2px;
        font-size: 26px;
    }
    
    .post-title {
        font-size: 64px;
        letter-spacing: 2px;
    }
    
    .post-time {
        font-size: 24px;
    }
    
    .post-description {
        font-size: 24px;
    }
}
