.sec-services {
}

.sec-services::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    z-index: 0;
}

.sec-services__wrapper {
    @extend %d-flex-col;
    justify-content: center;
    padding-left: 8.5%;
}

.sec-services__title {
    color: #fff;
}

.sec-services__tags {
    a {
        color: $darkgray;
    }

    a:hover {
        color: $gray;
    }
}

.sec-services__describe {
    max-width: 430px;
    width: 100%;
    margin-left: 48%;

    color: $gray;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .sec-services__describe {
        margin-top: 50px;
        width: 80%;
        margin-left: 0;
    }
}