.svg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.svg-one {
    .svg-one__bgr {
        fill: rgba(black, 0.8);
    }

    .svg-one__hole {
        font-size: 800px;
        font-weight: 700;
    }

    .svg-one__hole_filter {
        font-size: 800px;
        fill: rgba($orange, 0.5);
        font-weight: 700;
    }

    text {
        font-family: $avenir, sans-serif;
        font-weight: 400;
    }
}

.svg-two {
    .svg-two__bgr {
        fill: white;
    }

    .svg-two__filter {
        fill: rgba(white, 0.5);
    }
}

.svg-three {
    .svg-three__filter {
        fill: rgba(black, 0.8);
    }
}

.svg-four {
    .svg-four__filter {
        fill: rgba(black, 0.8);
    }
}
.svg-six {
    .svg-six__filter {
        fill: rgba(black, 0.8);
    }
}