.progress-ring {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    touch-action: none;
    display: none;
}

.progress-ring__circle {
    stroke-dasharray: 326.7 326.7;
    stroke-dashoffset: 326.7;
    animation: circle 2s ease-in-out;
}
  
@keyframes circle {
    from { 
        stroke-dashoffset: 326.7;
    }
    to { stroke-dashoffset: 0; opacity: 0 }
}