// main colors
$orange: #ff4200;
$gray: #b3b3b3;
$darkgray: #999999;
$black: #333333;

//fonts
$avenir: 'Avenir Next Cyr';
$lato: 'Lato';

//my reset
body * {
    box-sizing: border-box;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: $black;
}

h1,
h2,
h3,
h4 {
    font-family: $avenir, sans-serif;
}

h1 {
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

h2 {
    font-size: 42px;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1 {
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 15px;
    }
    
    h2 {
        font-size: 28px;
        letter-spacing: 15px;
        text-transform: uppercase;
    }
    
    h3 {
        font-size: 21px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    h4 {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    p {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {

}