.sec-portfolio {
 
}

.sec-portfolio::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    z-index: 0;
}

.sec-portfolio__wrapper {
    @extend %d-flex-col;
    justify-content: center;
}

.sec-portfolio__title {
    color: #fff;
}

.gallery {
    @extend %d-flex-row;
    width: 100%;

}

.gallery__wrapper {
    @extend %d-flex-row;
    justify-content: space-between;
    max-width: 870px;
    width: 100%;
}

.gallery__item {
    max-width: 270px;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}

.gallery__nav {
    max-width: 200px;
    width: 100%;
    margin-left: 8%;

    a {
        color: $darkgray;
    }

    a:hover {
        color: $gray;
    }
}


/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .sec-portfolio__wrapper {
        padding: 0 15px;
    }

    .gallery {
        flex-direction: row;
        //margin-top: 80px;
    }

    .gallery__wrapper {
        flex-direction: column;
    }

    .gallery__nav {
        flex-direction: column;
    }

    .gallery__item {
        max-width: 270px;
        width: 100px;
        margin-top: 15px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {

}
