.home .center {
    position: relative;
    width: 58vw;
    height: 33vw;
    z-index: 10;

    .backview {
        position: absolute;
        top: 0;
        left: 0;
        width: 64%;
        height: 84%;
        background-size: cover;
        z-index: 5;
        transition: background-image 0.5s ease-in-out 0.2s;
    }

    .preview {
        position: absolute;
        top: 25px;
        left: 25px;
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        background-size: cover;
        z-index: 6;
        transition: background-image 0.5s ease-in-out;
    }

    .text {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        height: 69%;
        z-index: 7;
        background-color: #fff;
        padding: 1.6vw;
        overflow: hidden;
        box-sizing: border-box;

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
        }
        
        .category {
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        .title {
            margin-bottom: 10px;

            h1 {
                text-transform: uppercase;
                font-family: 'Avenir Next Cyr';
                font-weight: 700;
                line-height: 35px;
                letter-spacing: 1px;
            }
        }

        .num {
            margin-bottom: 10px;

            span {
                color: #b4a88f;
            }
        }

        .excerpt {
            margin-bottom: 10px;
        }

        .btn {
            span {
                cursor: pointer;
                position: relative;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                color: #000;
                transition: color 0.5s;

                a,
                a:hover,
                a:active {
                    color: #000;
                    text-decoration: none;
                }

                a:hover {
                    color: #b4a88f;
                }
                
                a:after {
                    display: block;
                    content: "";
                    background-color: #222;
                    height: 1px;
                    width: 0%;
                    left: 50%;
                    bottom: -5px;
                    position: absolute;
                    -webkit-transition: width .3s ease-in-out;
                    -moz--transition: width .3s ease-in-out;
                    transition: width .3s ease-in-out;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            
                a:hover:after,
                a:focus:after {
                    width: 100%;
                }
            }
        }
    }
}

// animations

.center.leave .category  {
    animation-name: textExit;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}
.center.enter .category {
    animation-name: textEnter;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    opacity: 0;
}

.center.leave .title  {
    animation-name: textExit;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}
.center.enter .title {
    animation-name: textEnter;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    opacity: 0;
}

.center.leave .num  {
    animation-name: textExit;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.center.enter .num {
    animation-name: textEnter;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.center.leave .excerpt  {
    animation-name: textExit;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.center.enter .excerpt {
    animation-name: textEnter;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.center.leave .btn  {
    animation-name: textExit;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.center.enter .btn  {
    animation-name: textEnter;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

@keyframes textExit {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes textEnter {
    from {
        transform: translateX(-10px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .home .center {
        width: 80vw;
        height: 55vh;
        padding-left: 8vw;
        z-index: 10;

        .backview {
            display: none;
        }

        .preview {
            display: none;
        }

        .text {
            position: static;
            width: 100%;
            height: 100%;
            padding: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .category {
                margin-bottom: 2vh;

                & * {
                    color: #fff;
                }
                
            }

            .title {
                margin-bottom: 2vh;
                & * {
                    color: #fff;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 25px;
                    height: 3px;
                    background: #fff;
                    margin-top: 10px;
                }
            }

            .num {
                margin-bottom: 2vh;

                & * {
                    color: #fff;
                }
            }

            .excerpt {

                margin-bottom: 2vh;

                & * {
                    color: #fff;
                }
            }

            .btn{
                margin-bottom: 40px;
                & * {
                    color: #fff !important;
                }
            }
        }
    }

}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* large devices+ (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599.98px) {

}

/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) {
    .home {

        .center {

            .text {

                .category {

                    & * {
                        font-size: 21px;
                    }
                    
                }

                .title {

                    h1 {
                        font-size: 38px;
                        line-height: 44px;
                    }
                }

                .num {

                    h3 {
                        font-size: 21px;
                    }
                }

                .excerpt {

                    & > * {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}