.home .navigation-wrapper {
    position: absolute;
    right: 0;
    padding-right: 5vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation {
        overflow: hidden;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: transform 0.5s;


        li {
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
            cursor: pointer;

            span {
                color: #fff;
                font-size: 18px;
                font-weight: 300;
            }

            &:hover span {
                color: #b4a88f;
            }

            &:after {
                display: block;
                content: "";
                background-color: #fff;
                height: 1px;
                width: 0%;
                left: 50%;
                bottom: 5px;
                position: absolute;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }
    }

    .arrow {
        width: 12px;
        cursor: pointer;
        transition: transform 0.5s;

        &.up {
            transform: rotate(180deg);
            margin: 20px 0;
        }

        &.up:hover {
            transform: rotate(180deg) translateY(5px);
        }

        &.down:hover {
            transform: translateY(5px);
        }
    }
}

/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .navigation-wrapper {
        display: none !important;
    }

}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* large devices+ (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599.98px) {

}

/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) {

}